body{
  background-color: #f8f8f8;
}

img{
  width: 100%;
  height: 250px;
}

a{
  text-decoration: none !important;
  color: black !important;
  margin: 0 auto !important;
}

#pagination{
  position: relative !important;
  justify-content: center;
}

#pagination li{
  margin: 2px;
}